# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust
src-tauri/target/

# Tauri generated schemas
src-tauri/gen/

# Logs
logs/
*.log
pnpm-debug.log*
yarn-error.log*
yarn-debug.log*
npm-debug.log*

target/
